// MAIN LAYOUT
$desktop-max-width: 1440px;

$section-margin-inline: 0;
$section-margin-block: 0;

$section-padding-inline: 2rem;
$section-padding-block: 10rem;


// WEBSITE THEME
$bg-color: #252525;
$first-color: #fff;
$second-color: #d3ab55;
$black: #252525;
$overlay: rgba(60, 47, 20, 0.6);


// TEXT APPEARANCE

$text-color: #fff;
$background-hero: url(images/bg.jpeg);
$font-size: 16px;
$first-font: 'Poppins', sans-serif;
$second-font: 'Playfair Display', serif;

// TEXT SIZES

$text-normal: 1.2rem;
$text-large: 2rem;
$heading1: 5rem;
$heading2: 2.5rem;
$paragraph: 1rem;